* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
main {
    overflow: hidden;
}

.media img {
    max-width: 100%;
    display: block;
}

.pull-left {
    float: left;
    margin-right: 15px;
}

.prod-cont {
    background-color: #fff;
    border: solid 7px #f0cf19;
}

.pull-right {
    float: right;
    margin-left: 15px;
}

.double-brd {
    border-top: 1px solid;
    border-bottom: 4px double;
    border-color: rgba(127, 127, 127, 0.38);
}

.media_circle {
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.media_circle img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 100%;
    width: auto;
}

.accent-1 {
    color: #f0cf19;
}

.accent-2 {
    color: #7f7f7f;
}

.logo {
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-weight: 900;
}

.logo__square {
    border: solid 1px rgba(255, 255, 255, 0.37);
}

.title-brd {
    color: #fff;
    position: relative;
    border-bottom: 5px solid #999999;
    font-family: "Rubik", sans-serif;
}

.title-brd::after {
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30%;
    background-color: #f0cf19;
}

.title-brd_long {
    font-family: "Roboto", sans-serif;
}

.title-brd_long::after {
    width: 50%;
}

.faq-item__media {
    background-color: #000;
}

.faq-item__bg {
    opacity: 0.5;
}

.faq-item__text {
    font-size: 19px;
    color: #fff;
}

.faq-item__text::after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #f0cf19;
}

.faq-item__comments {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.28);
}

.tags-list__item {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.4);
}

.tags-list__item a {
    color: #000;
    text-decoration: none;
}

.tags-list__item:hover a {
    color: #f0cf19;
}

.before-after {
    display: table;
    max-width: 100%;
}

.before-after__item {
    display: table-cell;
    width: 50%;
    position: relative;
}

.before-after__img {
    width: 100%;
    display: block;
}

.before-after__sign {
    display: inline-block;
    max-width: 100px;
    padding: 5px 15px;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    position: absolute;
    bottom: 0;
}

.before-after__sign_before {
    background-color: #7f7f7f;
    color: #fff;
    right: 0;
}

.before-after__sign_after {
    background-color: #f0cf19;
    color: #000;
    left: 0;
}

.list-profit {
    padding-right: 115px;
}

.list-profit .list-profit__item {
    margin: 15px 0;
    position: relative;
}

.list-profit .list-profit__item::before {
    content: "";
    height: 7px;
    width: 7px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #f0cf19;
    position: absolute;
    left: 322px;
    top: 7px;
}

.btn-order {
    text-align: center;
    background-color: #f0cf19;
    text-decoration: none;
}

.btn-order:hover {
    background-color: #fff;
}

.btn-order .btn-order__content {
    background-color: #f0cf19;
    display: block;
    color: #000;
    border: 1px solid #fff;
    font-weight: 900;
    padding: 25px 15px;
}

.btn-signa {
    text-align: center;
    color: #7f7f7f;
}

.btn-signa a {
    color: #f0cf19;
    font-weight: 700;
}

.btn-signa a:hover {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    background-color: #111111;
    color: #fff;
}

.wrapper {
    width: 970px;
    padding: 0 15px;
    position: relative;
    margin: 0 auto;
}

.section-1 {
    background: url("../img/bg_pattern.png") repeat center;
    margin-bottom: 38px;
}

.section-1 .wrapper {
    padding: 20px 15px;
}

.section-1 .wrapper header [class^='block'] {
    display: table-cell;
    vertical-align: middle;
}

.section-1 .wrapper header .block-1 {
    width: 30% /*29%*/;
}

.section-1 .wrapper header .block-1 .logo {
    font-size: 27px;
}

.section-1 .wrapper header .block-1 .logo .logo__square {
    padding-left: 32px;
}

.section-1 .wrapper header .block-2 {
    width: 53%;
}

.section-1 .wrapper header .block-2 nav {
    display: table;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 10px;
}

.section-1 .wrapper header .block-2 nav ul li {
    display: inline-block;
    vertical-align: middle;
}

.section-1 .wrapper header .block-2 nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.62);
    padding: 10px;
    display: block;
    position: relative;
}

.section-1 .wrapper header .block-2 nav ul li a span {
    vertical-align: sub;
}

.section-1 .wrapper header .block-2 nav ul li a:hover span {
    opacity: 0.8;
}

.section-1 .wrapper header .block-2 nav ul li a::after {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.62);
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.section-1 .wrapper header .block-2 nav ul li:last-child a::after {
    display: none;
}

.section-1 .wrapper header .block-3 .social-link {
    text-align: center;
}

.section-1 .wrapper header .block-3 .social-link li {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: -5px;
    position: relative;
}

.section-1 .wrapper header .block-3 .social-link li:last-child {
    margin: 0;
}

.section-1 .wrapper header .block-3 .social-link li a img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.section-1 .wrapper header .block-3 .social-link li:hover img {
    opacity: 0.8;
}

.section-2 .wrapper aside {
    display: inline-block;
    width: 37%;
    vertical-align: top;
    margin-right: 20px;
}

.section-2 .wrapper aside .title-brd {
    padding: 13px 0;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.section-2 .wrapper aside > [class^='block'] {
    background: url("../img/bg_pattern.png") repeat center;
    padding: 15px;
    margin-bottom: 32px;
}

.section-2 .wrapper aside .block-1 .faq-item {
    display: table;
    width: 100%;
}

.section-2 .wrapper aside .block-1 .faq-item:nth-child(odd) .faq-item__data {
    padding-left: 10px;
    text-align: left;
}

.section-2 .wrapper aside .block-1 .faq-item:nth-child(odd) .faq-item__data .faq-item__text::after {
    left: 0;
}

.section-2 .wrapper aside .block-1 .faq-item .faq-item__media {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.section-2 .wrapper aside .block-1 .faq-item .faq-item__media .faq-item__bg {
    max-width: 100%;
    display: block;
}

.section-2 .wrapper aside .block-1 .faq-item .faq-item__data {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.section-2 .wrapper aside .block-1 .faq-item .faq-item__data .faq-item__text {
    padding-bottom: 17px;
    position: relative;
}

.section-2 .wrapper aside .block-1 .faq-item .faq-item__data .faq-item__text::after {
    bottom: 0;
    right: 0;
}

.section-2 .wrapper aside .block-1 .faq-item .faq-item__data .faq-item__comments {
    margin-top: 10px;
}

.section-2 .wrapper aside .block-2 .tags-list .tags-list__item {
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
    margin-bottom: 7px;
}

.section-2 .wrapper aside .block-2 .tags-list .tags-list__item a {
    padding: 15px;
    display: block;
}

.section-2 .wrapper main {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

.section-2 .wrapper main .btn-order {
    padding: 10px;
    margin: 15px auto;
    display: block;
    max-width: 80%;
    font-size: 24px;
}

.section-2 .wrapper main .btn-signa {
    font-size: 30px;
    margin: 15px 0;
}

.section-2 .wrapper main [class^='main-section'] {
    background-color: #1e1e1e;
    padding: 40px 20px;
    margin-bottom: 33px;
}

.section-2 .wrapper main .main-section-1 {
    margin-bottom: 100px;
}

.section-2 .wrapper main .title-brd {
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
}

.section-2 .wrapper main h1 {
    font-size: 40px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

.section-2 .wrapper main p {
    margin: 15px 0;
    font-size: 19px;
    line-height: 22px;
}

.section-2 .wrapper main p a {
    font-weight: 700;
    color: #f0cf19;
    text-decoration: underline;
}

.section-2 .wrapper main p a:hover {
    text-decoration: none;
}

.section-2 .wrapper main .signature {
    margin: 25px 0;
    padding: 3px 0;
    font-size: 16px;
}

.section-2 .wrapper main .signature .signature__avatar {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 49px;
    height: 49px;
}

.section-2 .wrapper main .signature .signature__name {
    vertical-align: middle;
}

.section-2 .wrapper main .signature .signature__date {
    vertical-align: middle;
    margin: 0 5px;
}

.section-2 .wrapper main .before-after {
    max-width: 100%;
    display: block;
    margin-bottom: -100px;
}

.section-2 .wrapper main .main-section-2 {
    margin-right: 100px;
}

.section-2 .wrapper main .main-section-2 .media {
    margin-right: -100px;
}

.section-2 .wrapper main .main-section-5 {
    margin-right: 100px;
}

.section-2 .wrapper main .main-section-5 .title-brd {
    display: inline-block;
    width: 76%;
}

.section-2 .wrapper main .main-section-5 .prod-cont {
    padding: 15px;
    margin-right: -100px;
}

.section-2 .wrapper main .main-section-7 .container {
    padding: 15px 0;
    position: relative;
}

.section-2 .wrapper main .main-section-7 [class^='block'] {
    display: table-cell;
    vertical-align: middle;
}

.section-2 .wrapper main .main-section-7 .prod {
    position: absolute;
    left: -100px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.section-2 .wrapper main .main-section-7 .block-1 {
    width: 40%;
}

.section-2 .wrapper main .main-section-7 .block-1 .media {
    width: 174px;
    height: 174px;
    margin: 0 auto;
}

.section-2 .wrapper main .main-section-7 .block-2 .title-brd {
    font-size: 30px;
    padding-bottom: 20px;
}

.section-2 .wrapper main .main-section-8 .title-brd {
    padding-bottom: 25px;
    margin-bottom: 43px;
}

.section-2 .wrapper main .main-section-8 .comment {
    position: relative;
    padding-bottom: 26px;
    border-bottom: 4px double rgba(127, 127, 127, 0.38);
    margin-bottom: 25px;
    margin-right: 91px;
}

.section-2 .wrapper main .main-section-8 .comment .avatar {
    width: 95px;
    height: 95px;
    position: absolute;
    right: -106px;
}

.section-2 .wrapper main .main-section-8 .comment .data {
    padding-left: 0;
    display: table;
}

.section-2 .wrapper main .main-section-8 .comment .data p {
    margin-top: 0;
}

.section-2 .wrapper main .main-section-8 .comment .data .title {
    color: rgba(255, 255, 255, 0.22);
    width: 100%;
}

.section-2 .wrapper main .main-section-8 .comment .data .title .name {
    display: inline-block;
    vertical-align: middle;
    width: 14%;
    font-size: 19px;
}

.section-2 .wrapper main .main-section-8 .comment .data .title .date {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    text-align: right;
}
.prod_2 {
    margin:  0 auto;
    text-align: center;
    padding-top: 20px;
}
/*# sourceMappingURL=main.css.map */
