@media screen and (max-width: 991px) {
    .title-brd {
        font-family: "Roboto", sans-serif;
    }

    .pull-left,
    .pull-right {
        float: none;
        margin: 15px auto;
        display: table;
    }

    .before-after__sign_before {
        right: auto;
        left: 0;
    }

    .btn-order .btn-order__content {
        font-size: 17px;
        padding: 20px 10px;
    }

    .wrapper {
        width: 320px;
    }

    .section-1 .wrapper header .block-2,
    .section-1 .wrapper header .block-3 {
        display: none;
    }

    .section-1 .wrapper header .block-1 .logo {
        font-size: 30px;
        text-align: center;
    }

    .section-1 .wrapper header .block-1 .logo .logo__square {
        padding-left: 0;
    }

    .before-after__item {
        display: block;
        width: auto;
    }

    .section-2 .wrapper aside {
        display: none;
    }

    .section-2 .wrapper main {
        width: auto;
    }

    .section-2 .wrapper main .btn-order {
        max-width: 95%;
    }

    .section-2 .wrapper main .btn-signa {
        font-size: 24px;
    }

    .section-2 .wrapper main [class^='main-section'] {
        padding: 15px;
    }

    .section-2 .wrapper main h1 {
        font-size: 32px;
    }

    .section-2 .wrapper main .signature {
        display: none;
    }

    .section-2 .wrapper main .title-brd {
        font-size: 30px;
    }

    .section-2 .wrapper main .main-section-2 {
        margin-right: 0;
    }

    .section-2 .wrapper main .main-section-2 .media {
        margin: 15px auto;
        float: none;
        display: table;
    }

    .section-2 .wrapper main .main-section-5 {
        margin-right: 0;
    }

    .section-2 .wrapper main .main-section-5 .prod-cont {
        margin: 15px auto;
        display: table;
        float: none;
    }
	.section-2 .list-profit
	{
		padding-right: 0;
	}

    .section-2 .wrapper main .main-section-7 .container > .media {
        display: inline-block;
        vertical-align: middle;
        max-width: 49%;
    }

    .section-2 .wrapper main .main-section-7 .container > .media .prod {
        position: static;
    }

    .section-2 .wrapper main .main-section-7 .container [class^='block'] {
        display: block;
    }

    .section-2 .wrapper main .main-section-7 .container .block-1 {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        max-width: 49%;
    }

    .section-2 .wrapper main .main-section-7 .container .block-1 .media {
        width: 135px;
        height: 135px;
    }

    .section-2 .wrapper main .main-section-8 .comment:nth-last-child(n+6) {
        display: none;
    }

    .section-2 .wrapper main .main-section-8 .comment .avatar {
        width: 50px;
        height: 50px;
    }

    /*.section-2 .wrapper main .main-section-8 .comment .data {*/
        /*padding-left: 70px;*/
    /*}*/

    .section-2 .wrapper main .main-section-8 .comment .data .title .name {
        font-size: 16px;
    }
    .section-2 .wrapper main .main-section-8 .comment .avatar {
        right: -77px;
    }

    .section-2 .wrapper main .main-section-8 .comment .data .title .date {
        font-size: 12px;
    }
    .section-2 .wrapper main .main-section-8 .comment .data .title .name {
        width: 24%;
    }
}

/*# sourceMappingURL=media.css.map */
